---
import { Font } from "astro:assets";
import "../../styles/styles.css";

const isProd = import.meta.env.PROD;
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="generator" content={Astro.generator} />
    <Font cssVariable="--font-synonym" preload />
    <Font cssVariable="--font-lora" preload />
    <link 
      rel="alternate"
      type="application/rss+xml"
      title="George Rodier's blog"
      href={new URL("rss.xml", Astro.site)}
    />
    <link rel="icon" type="image/png" href="/favicon.png" />
    <link rel="apple-touch-icon" href="/apple-touch-icon.png" />
    <title>Subscribe | George Rodier</title>
    <!-- Fathom - beautiful, simple website analytics -->
    {
      isProd && (
        <script
          src="https://cdn.usefathom.com/script.js"
          data-site="READTHHM"
          defer
        />
      )
    }
    <!-- / Fathom -->
  </head>

  <body>
    <header class="site-header">
      <div class="container">
        <a class="site-name" href="/">George Rodier</a>
        <nav class="site-nav">
          <a href="/posts">Blog</a>
          <a href="/subscribe">Subscribe</a>
        </nav>
      </div>
    </header>

    <main class="container" data-container="narrow">
      <div class="subscribe-card widget-card flow" data-bg="green">
        <h1>Stay in the Loop</h1>
        <p>
          Follow my weekly newsletter where I'll give updates on articles I'm writing, projects I'm working on, my insights on being pragmatic and delivering value, and a whole lot more. All with my patented personal touch!
        </p>
        <div>
          <script async data-uid="1429ce7060" src="https://georgerodier.kit.com/1429ce7060/index.js"></script>
        </div>
      </div>
    </main>
  </body>
</html>
