---
import Layout from "@layouts/Layout.astro";
import Container from "@components/Container/Container.astro";
---

<Layout>
  <Container class="mt-12 sm:mt-28">
    <div class="mx-auto max-w-2xl">
      <div class="flex flex-col">
        <h1
          class="text-4xl font-bold tracking-tight text-zinc-800 sm:text-5xl dark:text-zinc-100"
        >
          Subscribe
        </h1>
        <p class="mt-6 text-base text-zinc-600 dark:text-zinc-400">
          Subscribe to my newsletter to get updates on new posts, projects, and
          more.
        </p>
        <div class="mt-6">
          <script
            async
            data-uid="7367a08502"
            src="https://georgerodier.ck.page/7367a08502/index.js"></script>
        </div>
      </div>
    </div>
  </Container>
</Layout>
