---
import "../styles/home.css"
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="generator" content={Astro.generator} />

    <title>George Rodier</title>
  </head>
  <body>
    <div class="container">
      <div class="widget-bento-grid">
        <div class="widget-card">
          <div>George Rodier</div>
          <div>About</div>
        </div>
        <div class="widget-card">
          Music
        </div>
        <div class="widget-card">
          Github
        </div>
        <div class="widget-card">
          Resume
        </div>
        <div class="widget-card">
          Latest Article
        </div>
        <div class="widget-card">
          Latest post
        </div>
        <div class="widget-card">
          Subsribe
        </div>
        <div class="widget-card">
          Random Portfolio
        </div>
      </div>
    </div>
  </body>
</html>
