---
import Container from "./Container/Container.astro";
import ThemeToggle from "./ThemeToggle.astro";
import SignatureIcon from "./icons/Signature.astro";
---

<header class="pointer-events-none relative flex flex-none flex-col">
  <Container class="py-6 w-full">
    <div class="relative flex gap-4">
      <div class="flex flex-1">
        <a href="/" class="pointer-events-auto">
          <SignatureIcon />
        </a>
      </div>
      <div class="flex justify-end md:flex-1">
        <div class="pointer-events-auto">
          <ThemeToggle />
        </div>
      </div>
    </div>
  </Container>
</header>
